*{
    margin: 0;
    padding: 0;
}
body{
    height: 3150px;
}
.header{
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.header img{
    margin-left: 95px;
    margin-top: 15px;
}
.list1{
    list-style: none;
    margin-top: 23px;
    margin-right: 100px;
}
.list1 li{
    display: inline;
    margin-right: 20px;
    font-size: 25px;
}
.list1 li a{
    text-decoration: none;
    color: black;
}
.list1 li span{
    font-size: 18px;
    font-weight: 550;
}
.cart-sp{
    position: absolute;
    background-color: #af8a5c;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 1315px;
    margin-top: 29.5px;
    padding: 1.5px;
    color: white;
}
.list2{
    list-style: none;
    margin-right: 70px;
    margin-top: 15px;
    position: relative;
}
.list2 li{
    display: inline;
    margin-right: 7px;
    font-size: 20px;
    position: relative;
    padding: 5px;
    letter-spacing: 2px;
}
.list2 li::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    top: 0;
    left: 0;
    border-top: 1.4px solid #725027;
    border-left: 1.4px solid #725027;
    transition: 0.2s;
    visibility: hidden;
}
.list2 li:hover::after{
    width: 100%;
    height: 100%;
    visibility: visible;
}
.list2 li::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 0;
    right: 0;
    border-bottom: 1.8px solid #725027;
    border-right: 1.8px solid #725027;
    transition: 0.2s;
    visibility: hidden;
}
.list2 li:hover::before{
    width: 100%;
    height: 100%;
    visibility: visible;
}
.list2 li a{
    text-decoration: none;
    color: #926937;
    font-weight: bold;
}
.dropdown-item{
    position: absolute;
    width: 450px;
    height: 185px;
    font-size: 15px;
    border: 2px solid #725027;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    transform: scale(0);
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    text-align: center;
}
.dropdown-body tr{
    border-right: 1px solid #725027;
}
.dropdown-body tr:last-child{
    border: 0;
}
.dropdown-body tr td{
    margin: 5px 20px;
    line-height: 27px;
    font-size: 15px;
    text-align: center;
    font-family: "pt-sans",sans-serif;
}
.dropdown-head th{
    width: 145px;
    text-align: center;
    font-size: 19px;
}
.dropdown:hover .dropdown-item{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
table{
    z-index: 50;
    position: absolute;
}
table .row1 td a{
    color: black;
    text-decoration: none;
    font-weight: 100;
}
table .link-table  td a{
    color:rgb(84, 95, 79) ;
}
table .link-table td a:hover{
    text-decoration: underline;
}
.main img{
    margin: 30px 150px;
}
/* /////////////////////////////////////////////////////////////// */
.category{
    margin-bottom: 30px;
}
.category-title1{
    text-align: center;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    font-weight:bold;
    font-size: 35px;
}
.category-line{
    width: 100px;
    height: 1.5px;
    margin: auto;
    margin-top: 13px;
    background-color: #af8a5c;
    transition: 1s;
    margin-bottom: 30px;
}
.category-info1:hover .category-line{
    transform: scale(1.9,1);
}
.category-body{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img1-card{
    width: 290px;
    height: 340px;
    transition: 1s;
    transform-style: preserve-3d;
}
.img1-front , .img1-back{
    position: absolute;
    width: 290px;
    height: 340px;
}
.img1-front{
    z-index: 1;
    backface-visibility: hidden;    
}
.img1-back{
    transform: rotateY(180deg);
    position: relative;
}
.img2-card{
    width: 290px;
    height: 340px;
    transition: 1s;
    transform-style: preserve-3d;
}
.img2-front,.img2-back{
    position: absolute;
    width: 290px;
    height: 340px;
}
.img2-front{
    z-index: 1;
    backface-visibility: hidden;
}
.img2-back{
    transform: rotateY(180deg);
    position: relative;
}
.img3-card{
    width: 290px;
    height: 340px;
    transition: 1s;
    transform-style: preserve-3d;
}
.img3-front,.img3-back{
    position: absolute;
    width: 290px;
    height: 340px;
}
.img3-front{
    z-index: 1;
    backface-visibility: hidden;
}
.img3-back{
    transform: rotateY(180deg);
    position: relative;
}
.img4-card{
    width: 290px;
    height: 340px;
    transition: 1s;
    transform-style: preserve-3d;
}
.img4-front,.img4-back{
    position: absolute;
    width: 290px;
    height: 340px;
}
.img4-front{
    z-index: 1;
    backface-visibility: hidden;
}
.img4-back{
    transform: rotateY(180deg);
    position: relative;
}
.category-img-info{
    width: 290px;
    height: 50px;
    margin-top: 20px;
}
.info-i{
    margin-left: 19px;
    color: white;
    background-color: rgba(84, 95, 79,0.9);
    font-size: 27px;
    width: 15px;
    padding:0px 0px 0px 2px;
    visibility: hidden;
}
.category-img1:hover .info-i{
    visibility: visible;
}
.category-img2:hover .info-i{
    visibility: visible;
}
.category-img3:hover .info-i{
    visibility: visible;
}
.category-img4:hover .info-i{
    visibility: visible;
}
.img1-p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.category-body a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.back-img{
    opacity: 0.3;
}
.back-info{
    position: absolute;
    visibility: hidden;
}
.back-title{
    text-align: center;
    margin-top: -250px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 30px;
}
.back-btn{
    width: 90px;
    height: 30px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E3D0B9;
    border: 0.9px solid black;
    border-radius: 5px;
    transition: 0.7s;
}
.back-btn:hover{
    background-color:#ddc3a4 ;
    transform: scale(1.2,1.2);
}
.n1{
    margin-left: 40px;
}
.n2{
    margin-left: 35px;
}
.img1-card:hover {
    transform: rotateY(180deg);
}
.img1-card:hover .back-info{
    visibility: visible;
}
.img2-card:hover {
    transform: rotateY(180deg);
}
.img2-card:hover .back-info{
    visibility: visible;
}
.img3-card:hover {
    transform: rotateY(180deg);
}
.img3-card:hover .back-info{
    visibility: visible;
}
.img4-card:hover {
    transform: rotateY(180deg);
}
.img4-card:hover .back-info{
    visibility: visible;
}
/* //////////////////////////////////////////////////////////// */
.discount{
    overflow: auto;
    height: 390px;
    transform-style: preserve-3d;
}
.quote{
    margin-left: 70px;
    width: 700px;
    height: 360px;
    background-color: #e6ddd1;
    overflow: auto;
    float: left;
    border-radius: 05px;
}
.quote-title{
    margin-top: 10px;
    margin-left: 20px;
}
.quote-i1{
    color: #745442;
    font-size: 39px;
}
.quote-h2{
    display: inline-block;
    font-size: 30px;
}
.quote-h4{
    margin-left: 40px;
}
.quote-p{
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: "pt-sans",sans-serif;
}
.lines{
    margin-left: 480px;
    margin-top: 30px;
}
.quote-line1{
    float: left;
    width: 60px;
    height: 1.9px;
    background-color:#745442 ;
    margin: 0px 3px 10px ;
}
.discount-info1{
    float: left;
    margin-left: 38px;
    margin-right: 38px;
    height: 360px;
    transition: 0.7s;
}
.discount-info-img1{
    position: relative;
}
.discount-img1{
    position: absolute;
}
.discount-prg1{
    position: absolute;
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}
.discount-p1{
    font-size: 30px;
    font-weight: 300;
    color: #937d62;
    /* text-shadow:1px 1px 2px white ; */
}
.discount-p2{
    margin-top:5px;
    font-size: 30px;
    font-weight: bold;
}
.discount-info2{
    float: left;
    margin-left: 1150px;
    margin-top: -359px;
    height: 360px;
    transition: 0.7s;
}
.discount-info-img2{
    position: relative;
}
.discount-img2{
    position: absolute;
    transition: 0.7s;
}
.discount-prg2{
    position: absolute;
    width: 300px;
    margin-top: 20px;
    margin-left: 5px;
}
.discount-info1:hover{
    transform: scale(1.05   ,1.05  );
}
.discount-info2:hover{
    transform: scale(1.05   ,1.05  );
}
/* //////////////////////////////////////////////////////////// */
.scroll{
    margin:5px 40px;
    display: flex;
    margin-bottom: 55px;
}
.scroll-icon{
    height: 55px;
    background-image: url("../images/service-icon.png");
    background-repeat: no-repeat;
}
.scroll-item{
    flex:1;
    text-align: center;
    border-right: 0.7px solid #af8a5c;
}
.scroll-item:last-child{
    border: 0;
}
.scroll-info h3{
    font-size: 19px;
}
.scroll-info span{
    color: gray;
    font-size: 20px;
}
.scroll-icon-1{
    background-position: center 5px;
    transition: 0.5s;
}
.scroll-icon-1:hover{
    background-position: center -85px;
}
.scroll-icon-2{
    background-position: center -175px;
    transition: 0.5s;
}
.scroll-icon-2:hover{
    background-position: center -270px;
}
.scroll-icon-3{
    background-position: center -360px;
    transition: 0.5s;
}
.scroll-icon-3:hover{
    background-position: center -453px;
}
.scroll-icon-4{
    background-position: center -550px;
    transition: 0.5s;
}
.scroll-icon-4:hover{
    background-position: center -640px;
}
.scroll-icon-5{
    background-position: center -733px;
    transition: 0.5s;
}
.scroll-icon-5:hover{
    background-position: center -825px;
}
.end-line{
    margin: 0px 70px;
    width: 1380px;
    height: 1px;
    background-color: gray;
}
/* ////////////////////////////////////////////////////////////////// */
.featured-container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 35px;
}
.featured-title1{
    text-align: center;
    margin-top:70px ;
}
.featured-line{
    width: 100px;
    height: 1.5px;
    background-color: #af8a5c;
    margin:auto;
    margin-top: 10px;
    transition: 1s;
}
.featured-title1:hover .featured-line{
    transform: scale(1.7,1);
}
.card1-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item1-front ,.item1-back{
    position: absolute;
}
.item1-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item1-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img1{
    opacity: 0.4;
}
.item1-info{
    width: 330px;
    height: 50px;
    margin-top: 3px;
}
.item1-info i{
    font-size: 20px;
}
.i1{
    color: yellow;
}
.card1-sides:hover{
    transform: rotateY(180deg);
}
.card2-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item2-front ,.item2-back{
    position: absolute;
}
.item2-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item2-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img2{
    opacity: 0.4;
}
.item-info{
    width: 330px;
    height: 50px;
    margin-top: 3px;
}
.item-info i{
    font-size: 20px;

}
.card2-sides:hover{
    transform: rotateY(180deg);
}
.card3-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item3-front ,.item3-back{
    position: absolute;
}
.item3-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item3-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img3{
    opacity: 0.4;
}
.card3-sides:hover{
    transform: rotateY(180deg);
}

.featured-container2{
    display: flex;
    justify-content: space-evenly;
}
.card4-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item4-front ,.item4-back{
    position: absolute;
}
.item4-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item4-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img4{
    opacity: 0.4;
}
.card4-sides:hover{
    transform: rotateY(180deg);
}
.card5-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item5-front ,.item5-back{
    position: absolute;
}
.item5-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item5-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img5{
    opacity: 0.4;
}
.card5-sides:hover{
    transform: rotateY(180deg);
}
.card6-sides{
    position: relative;
    width: 330px;
    height: 450px;
    transition: 1s;
    transform-style: preserve-3d;
}
.item6-front ,.item6-back{
    position: absolute;
}
.item6-front{
    z-index: 1;
    backface-visibility: hidden;
}
.item6-back{
    transform: rotateY(180deg);
    position: relative;
}
.back-img6{
    opacity: 0.4;
}
.card6-sides:hover{
    transform: rotateY(180deg);
}
.featured-back-info{
    position: absolute;
    visibility: hidden;
    margin-top: -245px;
    margin-left: 75px;
    font-size: 30px;
    word-spacing: 2px;
}
.featured-back-info a i{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgba(84, 95, 79,0.8);
    padding: 5px;
    color: white;
}
.card1-sides:hover .featured-back-info
,.card2-sides :hover .featured-back-info
,.card3-sides:hover .featured-back-info
,.card4-sides:hover .featured-back-info
,.card5-sides:hover .featured-back-info
,.card6-sides:hover .featured-back-info{
    visibility: visible;
}
.item1-p1{
    font-size: 22px;
    letter-spacing: 1px;
}
.item1-p2{
    font-weight: bold;
    font-size: 20px;
}
